.chamada{
    background-color: rgb(223, 223, 255);
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
body{
    background-color: rgb(208, 208, 241);
    margin: 0px;
    font-family: "Amatic SC", sans-serif;
    color: black;
    margin-bottom: 100px;
}
header{
    font-size: 35px;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid ;
    padding: 20px;
}